<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Wallpapers</title>
    <style>
        #emo-back{
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 20%;
          }
          #emo-back:hover{
              background-color: red;
          }
    </style>
    <link rel="stylesheet" href="../static/Styles_Wallpapers.css">
    <script src="https://kit.fontawesome.com/66eb956f0d.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Find your moody wallpapers here!<i class="fas fa-laugh-wink"></i></h1>
    <hr noshade="2">
    <h2>We are here to your rescue.</h2>
    <h2>Next we have in line, Fear Mood Wallpapers: </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="../static/fear1.jpg" download="fear1">
                    <img src="../static/fear1.jpg">
                </a>
                <a href="../static/fear2.jpg" download="fear2">
                    <img src="../static/fear2.jpg">
                </a>
                <a href="../static/fear3.jpg" download="fear3">
                    <img src="../static/fear3.jpg">
                </a>
            </div>
        </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <a href="../static/fear4.jpg" download="fear4">
                            <img src="../static/fear4.jpg">
                        </a>
                        <a href="../static/fear5.jpg" download="fear5">
                            <img src="../static/fear5.jpg">
                        </a>
                        <a href="../static/fear6.jpg" download="fear6">
                            <img src="../static/fear6.jpg">
                        </a>
                    </div>
                </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="../static/fear7.jpg" download="fear7">
                    <img src="../static/fear7.jpg">
                </a>
                <a href="../static/fear8.jpg" download="fear8">
                    <img src="../static/fear8.jpg">
                </a>
                <a href="../static/fear9.jpg" download="fear9">
                    <img src="../static/fear9.jpg">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="../static/fear10.jpg" download="fear10">
                    <img src="../static/fear10.jpg">
                </a>
                <a href="../static/fear11.jpg" download="fear11">
                    <img src="../static/fear11.jpg">
                </a>
                <a href="../static/fear12.jpg" download="fear12">
                    <img src="../static/fear12.jpg">
                </a>
            </div>
        </div>
    </div>
    <button id='emo-back' class="btn btn-success btn-lg">LOG OUT</button>
    <script type="text/javascript">
        document.getElementById("emo-back").onclick = function () {
            location.href =  "{{url_for('index') }}"
        };
    </script>
    <hr noshade="2">
</body>
</html>