<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Wallpapers</title>
    <style>
        #emo-back{
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 20%;
          }
          #emo-back:hover{
              background-color: red;
          }
    </style>
    <link rel="stylesheet" href="../static/Styles_Wallpapers.css">
    <script src="https://kit.fontawesome.com/66eb956f0d.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Find your moody wallpapers here!<i class="fas fa-laugh-wink"></i></h1>
    <hr noshade="2">
    <h2>We are here to your rescue.</h2>
    <h2>First we have in line, Happy Mood Wallpapers: </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="../static/Happy1.jpeg" download="happy1">
                    <img src="../static/Happy1.jpeg">
                </a>
                <a href="../static/Happy3.jpeg" download="happy3">
                    <img src="../static/Happy3.jpeg">
                </a>
                <a href="../static/Happy4.jpeg" download="happy4">
                    <img src="../static/Happy4.jpeg">
                </a>
            </div>
        </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <a href="../static/Happy6.jpeg" download="happy6">
                            <img src="../static/Happy6.jpeg">
                        </a>
                        <a href="../static/Happy8.jpeg" download="happy8">
                            <img src="../static/Happy8.jpeg">
                        </a>
                        <a href="../static/Happy12.jpeg" download="happy12">
                            <img src="../static/Happy12.jpeg">
                        </a>
                    </div>
                </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="../static/Happy2.jpeg" download="happy2">
                    <img src="../static/Happy2.jpeg">
                </a>
                <a href="../static/Happy5.jpeg" download="happy5">
                    <img src="../static/Happy5.jpeg">
                </a>
                <a href="../static/Happy7.jpeg" download="happy7">
                    <img src="../static/Happy7.jpeg">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="../static/Happy9.jpeg" download="happy9">
                    <img src="../static/Happy9.jpeg">
                </a>
                <a href="../static/Happy10.jpeg" download="happy10">
                    <img src="../static/Happy10.jpeg">
                </a>
                <a href="../static/Happy11.jpeg" download="happy11">
                    <img src="../static/Happy11.jpeg">
                </a>
            </div>
        </div>
    </div>
    <button id='emo-back' class="btn btn-success btn-lg">LOG OUT</button>
    <script type="text/javascript">
        document.getElementById("emo-back").onclick = function () {
            location.href =  "{{url_for('index') }}"
        };
    </script>
    <hr noshade="2">
</body>
</html>